.field
  = f.hidden_field :banned_by_user, :value => current_member.id
  %br/
.field
  - if params[:user_id]
    = f.hidden_field(:user_id, :value => params[:user_id])
  - else
    = f.label :user_id
    %br/
    = f.select :user_id, options_from_collection_for_select(Member.find(:all, :order => 'username'), :id, :username, @ban.try(:user_id)), { :include_blank => true }
  %br/
.field
  %br/
  = f.label :reason
  %br/
  = f.text_field :reason
  %br/
.field
  %br/
  = f.label :banned_until
  %br/
  = f.datetime_select :banned_until
  %br/
.field
  %br/
  = f.label :banned_until, "Or ban permanently"
  = f.check_box :banned_until
